/*	--------------------------------------------------
	Winner box
	-------------------------------------------------- */

	body { background: #007E18 url(/images/background.png) repeat-x; }


	#winner-main-container { 
		
		position: relative;
		margin: 0 auto;			
		}
	#winner-header-home {
		width: 960px; margin: 0 auto; position: relative; top: 10px
	}	
	#winner-detail-box { 
		width: 960px;
		margin: 0 auto;
		padding-top: 30px;
		}

	#winner-detail-box-left { float: left; width: 260px; position: absolute; top: 85px; }	
	#winner-detail-box-right { 
		position: relative;
		float: right; 
		width: 710px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .42);
		padding-top: 15px;
		top: 210px;
		}
	#winner-user-details { 
		float: left;		
		margin-left: 10px;
		font-size: 11px;
		font-weight: bold;
		}

	#winner-img-box-left {
		float: left;
		}		
	#winner-img-box-right {
		float: right;
		}			
	#winner-content-img {
		vertical-align: bottom;
		position: absolute;		
		/*background: url(/images/winner-bottom-big.png) no-repeat;*/
		background: url(/images/profile-footer.png) repeat-x;
		background-position: left bottom;
		width: 100%;

		/*
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		*/
		z-index: -1;
		padding-bottom: 100px;
		}	
	#winner-button {
		position: absolute;
		width: 100px;
		height: 31px;
		font-size: 15px;
		text-align: center;
		bottom: 0;
		right: 0;
		color: #966509;
		background: url('/images/buttons/yellow_btn.png') no-repeat;
		padding: 8px 0 0;
		}	
	#winner-name { margin: 25px 0 10px; }	
	#winner-content-img div { width: 960px; margin: 0 auto; }
		
	#winner-content-next-btn {
		position: absolute;
		left: 410px;
		}	

	#winner-content-back-btn {
		position: absolute;
		left: 75px;
		}		

	#winner-logout { position: absolute; top: 13px; right: 0; color: #FFFFFF; font-size: 13px; text-decoration: none;}
	#winner-logout:hover { color: #1681F5; }

	#winner-footer {		
		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		margin: 0 auto;
		width: 960px;
		background: url(/images/winner-bottom-big.png) no-repeat;		
		}

	#winner-footer img { vertical-align: bottom; }	
	#winner-push { height: 140px; }

	#winner-winner-month { font-weight: bold; color: #e4853c; }
	#winner-name { font-weight: bold; }



	/*** for the msgs ***/

	#winner-detail-box-msg-top {
		position: absolute;
		top: -30px;
		left: 45px;
		}

	#winner-detail-box-msg-bottom {
		position: absolute;
		top: 110px;
		left: 40px;
		}

	#winner-pagination-div {
		position: absolute;
		top: 280px;
		left: 35px;
	}	
	#winner-pagination {
		position: absolute;
		/*width: 170px; */
		left: 225px;
		top: 10px;
		width: 180px;
	}	
	#winner-pagination a { text-decoration: none; color: #966509;}
	#winner-pagination ul { 
		list-style: none; 
		/*margin-left: 30px; */
		}
	#winner-pagination ul li { 
		float: left;
		margin-right: 5px;
		border: 1px solid #CE902B;
		padding: 3px 5px;
		background: #CE902B;
		}	
	#selected {
		background: #F2A30F !important;
		}
	.paging-more {
		font-weight: bold;
		color: #966509;
		}			
/*** ---------------------->	**/		
	
	.date-txt { 
		letter-spacing: 1px; 
		display: block; 
		font-size: 12px; 
		color: #000;
		}
	.ie8 .date-txt {
		letter-spacing: 1px; 
		display: block; 
		font-size: 11px; 
		color: #000;
		}	
	.profile-message-div { padding-top: 10px; }
	.profile-message-big { 
		display: none; 
		position: relative;
		border: 1px solid #000;
		background: #EEE;
		width: 250px;
		padding: 10px 10px 20px;
		z-index: 1;		
		top: -150px;
		left: -10px;
		}
	.msg-small {
		border: 1px solid #555;
		padding: 10px;
		width: 170px;
		height: 135px;
	}	
	#winner_box_1 {				
		font-size: 15px;
		position: absolute;
		left: 39px;
		top: -26px;
		font-family: 'Handlee';		
		}

	#winner_box_1 .msg-small {
		background: #59EAFF;

		-webkit-backface-visibility: hidden;

		-webkit-transform: rotate(-6deg);
		-moz-transform: rotate(-6deg);
		-ms-transform: rotate(-6deg);
		-o-transform: rotate(-6deg);
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-6);	*/
		}	
	#winner_box_1 .profile-message-big {
		background: #59EAFF;
	}	


	#winner_box_2{		
		font-size: 18px;
		position: absolute;
		left: 244px;
		top: -20px;
		font-family: 'Shadows Into Light Two';		
		}
	#winner_box_2 .msg-small {
		background: #E33BFF;
		-webkit-backface-visibility: hidden;

		-webkit-transform: rotate(2deg);
		-moz-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		-o-transform: rotate(2deg);
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);*/
		}		
	#winner_box_2 .profile-message-big {
		background: #E33BFF;		
	}
	

 	#winner_box_3{		
		font-size: 18px;
		position: absolute;
		left: 444px;
		top: -8px;
		font-family: 'Just Me Again Down Here';		
		}		
	#winner_box_3 .msg-small {
		background: #72FFA0;
		-webkit-backface-visibility: hidden;

		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		-ms-transform: rotate(4deg);
		-o-transform: rotate(4deg);
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);*/
		}		
	#winner_box_3 .profile-message-big {
		background: #72FFA0;
	}	

	#winner_box_4{		
		font-size: 18px;
		position: absolute;		
		left: 57px;
		top: -10px;
		font-family: 'Sunshiney';		
		}	
	#winner_box_4 .msg-small {
		background: #F9CC45;
		-webkit-backface-visibility: hidden;

		-webkit-transform: rotate(-6deg);
		-moz-transform: rotate(-6deg);
		-ms-transform: rotate(-6deg);
		-o-transform: rotate(-6deg);
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-6);*/
		}		
	#winner_box_4 .profile-message-big {
		background: #F9CC45;
		top: -200px;
	}	
		

	#winner_box_5{		
		font-size: 15px;
		position: absolute;
		left: 238px;
		top: -6px;
		font-family: 'Nothing You Could Do';		
		}	
	#winner_box_5 .msg-small {
		background: #EE666B;
		-webkit-backface-visibility: hidden;

		-webkit-transform: rotate(2deg);
		-moz-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		-o-transform: rotate(2deg);
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);*/
		}	
	#winner_box_5 .profile-message-big {
		background: #EE666B;
		top: -200px;
	}		

	#winner_box_6 {		
		font-size: 12px;
		position: absolute;
		left: 430px;
		top: 	4px;
		font-family: 'Delius Unicase';		
		}	
	#winner_box_6 .msg-small {
		background: #FFFF69;
		-webkit-backface-visibility: hidden;

		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-o-transform: rotate(5deg);
		/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);*/
		}			
	#winner_box_6 .profile-message-big {
		background: #FFFF69;
		top: -200px;
	}	




	#winner-user-position-title { font-style: italic; color: #777;}	
	#winner-join-date { font-style: italic; color: #e4853c;}

	.winner-details-heading { font-weight: bold; }	


	.home-c1-user-stat { float: right; width: 135px; padding: 7px; }
	.home-c1-user-stat ul { } 
	.home-c1-user-stat ul li { text-align: center; font-size: 11px; padding: 5px 0; }
	.home-c1-user-stat ul li.user-stat-header { text-align: center; padding: 0;}
	.home-c1-user-stat ul li.user-stat-header span { position: relative; top: 2px; }
	.ie8 .home-c1-user-stat ul li.user-stat-header span { position: relative; top: -1px; }
	.home-c1-user-stat ul li.user-stat-header a { 
		display: block;
		color: #A33300; 
		padding: 3px 0;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
		font-size: 14px;
		text-decoration: underline;

		/*
		background: #FFDA7A;
		filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFDA7A,EndColorStr=#FFBB57);
		background: -moz-linear-gradient(top,#FFDA7A 0,#FFBB57 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFDA7A),color-stop(100%,#FFBB57));
		background: -webkit-linear-gradient(top,#FFDA7A 0,#FFBB57 100%);
		background: -o-linear-gradient(top,#FFDA7A 0,#FFBB57 100%);
		background: -ms-linear-gradient(top,#FFDA7A 0,#FFBB57 100%);
		background: linear-gradient(top,#FFDA7A 0,#FFBB57 100%);

		-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.6);
		-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.6);
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,.6);
		*/
		}
	.ie8 .home-c1-user-stat ul li.user-stat-header a { 
		display: block;
		color: #BB501f; 
		padding: 3px 0;
		font-size: 14px;
		font-weight: bold;
		text-decoration: underline;

		/*
		background: #FFDA7A;
		filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFDA7A,EndColorStr=#FFBB57);
		*/
		}	
	.home-c1-user-stat ul li.user-stat-header a:hover {		
		color: #F86927;
		/*
		background: #AF6B07;

		-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.25);
		-moz-box-shadow: 0 2px 4px rgba(0,0,0,.25);
		box-shadow: 0 2px 4px rgba(0,0,0,.25);
		*/
		}
	.ie8 .home-c1-user-stat ul li.user-stat-header a:hover {		
		color: #F86927;
		/*
		filter: none;
		background: #AF6B07;
		*/
		}	
	


